@font-face {
    font-family: myFirstFont;
    src: url(../fonts/font3.otf);
}

* {
    font-family: myFirstFont, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
}

.card {
    top: 10px;
    left: 10px;
}

ul li {
    list-style-type: none;
}

.card {
    border: 0px;
    margin: 0px;
    margin-bottom: 60px;
    cursor: pointer;
    background-color: black;
}

.card-body {
    width: 180px;
    height: 180px;
    box-shadow: inset 2px 2px 0px 50px rgba(0, 0, 0, 50%);
    padding: 0px;
    text-align: center;
    border-radius: 5px;
}

.card-body:hover {
    background-color: rgb(161, 206, 119);
}

.card-footer {
    background-color: white;
    border: 0px;
    border-left: 0px;
    background-color: black;
    padding: 0;
}

img {
    width: 130px;
    height: 130px;
    margin: 25px;
}

p {
    margin-top: -3px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    color: rgb(104, 104, 104);
}

p a {
    color: rgb(104, 104, 104);
    text-decoration: none;
}

.card-link {
    font-size: 18px;
    color: rgb(256, 256, 256);
    text-decoration: none;
}

body {
    background-color: black;
}

.play {
    padding: 0;
    margin: 0;
    position: relative;
    top: -44px;
    width: 29px;
    height: 30px;
    right: -62px;
}

@font-face {
    font-family: font1;
    src: url(../fonts/font3.otf);
}

.logo span {
    color: rgb(256, 256, 256);
    font-weight: 20;
    font-family: font1;
    font-size: 30px;
    letter-spacing: -0.06em;
    margin: 0px;
}

.logo span+span {
    font-size: 35Px;
    padding: 0px;
    color: rgb(101, 211, 110);
    font-family: font1;
    margin: 0px;
}

span {
    padding: 0px;
}

sup {
    display: relative;
    top: -21px;
    font-size: 4px;
    border-radius: 50%;
    font-size: 4px;
    border: 0.50px solid white;
    color: white;
    padding: 1px;
}

.logo-im {
    width: 48px;
    height: 48px;
    right: -26px;
    bottom: 8px;
    position: relative;
}

.bg-light {
    background-color: rgb(3, 3, 3) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5)
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.bg-success {
    background-color: rgb(101, 211, 110) !important;
}