.playlist-container {
  display: grid;
  justify-content: start;

  .create {
    cursor: pointer;

    align-items: flex-start;
    background-color: rgb(53, 52, 52);

    width: 200px;
    height: 200px;
  }
}
