.player {
  color: #65d36e;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  //    background-color: rgb(48, 48, 48);
  background-image: linear-gradient(
    to bottom,
    #61645f,
    #474c4b,
    #323536,
    #1f1f20,
    #070707
  );
  .player-item {
  }
  .player-control {
    display: grid;
    grid-template-rows: auto auto;
    .player-icon {
      display: grid;
      grid-template-columns: repeat(5, auto);
      justify-content: space-evenly;
    }
  }
}
