html,
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body .btn-home-login {
  background-color: #fcfffd;
}

body .btn-home-login:hover {
  background-color: #65d36e;
}

body .btn-home-register {
  border: none;
  color: #a5a4a4;
}

body .btn-home-register:hover {
  color: white;
}

body .modal {
  height: 100vh;
  background-color: #000000;
  opacity: 92%;
}

body .modal .modal-dialog {
  overflow-y: initial !important;
}

body .modal .modal-content {
  max-width: 28rem;
  border: 2px solid #ffffff;
  border-radius: 12px;
  padding: 1rem;
  position: relative;
}

body .modal .modal-content .modal-header {
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .modal .modal-content .modal-header h5 {
  position: absolute;
  top: 1rem;
}

body .modal .modal-content .modal-header .modal-title {
  position: absolute;
  left: 0;
  top: 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #130f40;
  width: 100%;
}

body .modal .modal-content label {
  color: black;
  font-weight: bold;
}

body .modal .modal-content .modal-body #error-user,
body .modal .modal-content .modal-body #error-password,
body .modal .modal-content .modal-body #error-name,
body .modal .modal-content .modal-body #error-email,
body .modal .modal-content .modal-body #error-phone,
body .modal .modal-content .modal-body #error-reg-pass,
body .modal .modal-content .modal-body #error-reg-confpass,
body .modal .modal-content .modal-body #error-phone-reg,
body .modal .modal-content .modal-body #error-email-reg {
  margin-top: 0.3rem;
  width: 100%;
  font-size: 1rem;
  color: #c62828;
  background: rgba(255, 0, 0, 0.1);
  text-align: center;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  border: 0.1rem solid #af0808;
  display: none;
}

body .modal .modal-content .modal-body form #pass-div {
  position: relative;
}

body .modal .modal-content .modal-body form #pass-div i {
  position: absolute;
  right: 1rem;
  top: 70%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .modal .modal-content #btn-modal-login,
body .modal .modal-content #btn-modal-reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0 0 0;
  display: block;
  height: 2.8rem;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  outline: none;
  font-weight: bold;
  background: limegreen;
  border-radius: 0.2rem;
  border: 0.1rem solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .modal .modal-content #btn-modal-login:hover,
body .modal .modal-content #btn-modal-reg:hover {
  background: chartreuse;
}

body .modal .error-login,
body .modal #error-reg {
  margin-top: 0.3rem;
  width: 100%;
  font-size: 1rem;
  color: #ffffff;
  background: red;
  text-align: center;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  border: 0.1rem solid #000000;
  display: none;
}

body .modal .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .modal .modal-footer #login-btn,
body .modal .modal-footer #registration-btn {
  width: 100%;
  margin-top: 10px;
  height: 2.8rem;
  font-size: 1.1rem;
}
/*# sourceMappingURL=styles.css.map */