@font-face {
  font-family: myfont;
  src: url(./font3.otf);
}
* {
  box-sizing: border-box;
  font-family: myfont;
}

body {
  margin: 0px;
}

html {
  font-size: 62.5%;
}

.nav {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  width: 100%;
  padding: 1rem;
  // border-bottom: 2px solid rgba(29, 29, 29);

  .nav-item {
    justify-content: center;
    align-self: center;
  }

  .nav-item:nth-child(1) {
    img {
      width: 3rem;
      height: 3rem;
    }
    span {
      font-size: 3rem;

      letter-spacing: -0.06em;
      color: white;
      font-family: myfont;
    }
    :last-child {
      font-size: 3.5rem;
      color: rgb(101, 211, 110);
    }
  }

  .nav-item:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows:auto auto;
    column-gap: 4rem;

    span {
      justify-content: center;
      font-size: 2rem;
      color: rgb(129, 129, 129);
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
    
    svg {
      display: none;
    }
  }

  .nav-item:nth-child(3) {
    font-size: 2rem;
    justify-content: right;
    display: grid;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

@media (max-width: 948px) {
  html {
    font-size: 52.5%;
  }

  .nav {
    position: sticky;
    top: 0px;
    .nav-item:nth-child(1) {
      img {
        width: 4rem;
        height: 4rem;
      }
    }

    .nav-item:nth-child(2) {
      display: grid;
      grid-template-columns: auto auto auto auto;
      column-gap: 7rem;
      span {
        display: none;
      }
      svg {
        display: block;
        justify-content: center;
        width: 4vw;
        height: 4vw;
        fill: rgb(129, 129, 129);
        cursor: pointer;
        &:hover {
          fill: white;
        }
      }
    }
  }
}

@media (max-width: 627px) {
  html {
    font-size: 42.5%;
  }
  .nav {
    position: sticky;
    top: 0px;
    .nav-item:nth-child(1) {
      img {
        width: 4rem;
        height: 4rem;
      }
    }
    .nav-item:nth-child(1) {
      span {
        display: none;
      }
    }
    .nav-item:nth-child(2) {
      display: grid;
      grid-template-columns: auto auto auto auto;
      column-gap: 5rem;
      span {
        display: none;
      }
      svg {
        display: block;

        justify-content: center;
        width: 7vw;
        height: 7vw;
      }
    }
  }
}

.design-container{
  display: none;
  background-color: black;
}
// .select-container{
//        display: flex;
//        align-items: center;
//        justify-content: center;
//        margin: auto;
//        width: 30%;
//        border: 3px solid #73AD21;
//        padding: 10px;
//        background-color: darkgray;
// }

