@font-face {
  font-family: myfont;
  src: url(./font3.otf);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: myfont;
}

body {
  margin: 0px;
}

html {
  font-size: 62.5%;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  background-color: black;
  width: 100%;
  padding: 1rem;
  border-bottom: 2px solid rgba(29, 29, 29, 0.77);
}

.nav .nav-item {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.nav .nav-item:nth-child(1) img {
  width: 3rem;
  height: 3rem;
}

.nav .nav-item:nth-child(1) span {
  font-size: 3rem;
  letter-spacing: -0.06em;
  color: white;
  font-family: myfont;
}

.nav .nav-item:nth-child(1) :last-child {
  font-size: 3.5rem;
  color: #65d36e;
}

.nav .nav-item:nth-child(2) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
  grid-template-columns: repeat(4, auto);
  -webkit-column-gap: 4rem;
  column-gap: 4rem;
}

.nav .nav-item:nth-child(2) span {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2rem;
  color: #818181;
  cursor: pointer;
}

.nav .nav-item:nth-child(2) span:hover {
  color: white;
}

.nav .nav-item:nth-child(2) svg {
  display: none;
}

.nav .nav-item:nth-child(3) {
  font-size: 2rem;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  display: -ms-grid;
  display: grid;
}

.nav .nav-item:nth-child(3) a {
  color: white;
  text-decoration: none;
}

@media (max-width: 948px) {
  html {
    font-size: 52.5%;
  }
  .nav .nav-item:nth-child(1) img {
    width: 4rem;
    height: 4rem;
  }
  .nav .nav-item:nth-child(2) {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    -webkit-column-gap: 7rem;
    column-gap: 7rem;
  }
  .nav .nav-item:nth-child(2) span {
    display: none;
  }
  .nav .nav-item:nth-child(2) svg {
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 4vw;
    height: 4vw;
    fill: #818181;
    cursor: pointer;
  }
  .nav .nav-item:nth-child(2) svg:hover {
    fill: white;
  }
}

@media (max-width: 627px) {
  html {
    font-size: 42.5%;
  }
  .nav .nav-item:nth-child(1) img {
    width: 4rem;
    height: 4rem;
  }
  .nav .nav-item:nth-child(1) span {
    display: none;
  }
  .nav .nav-item:nth-child(2) {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    -webkit-column-gap: 5rem;
    column-gap: 5rem;
  }
  .nav .nav-item:nth-child(2) span {
    display: none;
  }
  .nav .nav-item:nth-child(2) svg {
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 7vw;
    height: 7vw;
  }
}

/*# sourceMappingURL=nav.css.map */