.container {
  display: grid;
  width: auto;
  height: auto;

  grid-template-rows: auto 1fr;
  margin: 20px;
  .row {
    display: flex;

    overflow-x: auto;
    justify-content: space-between;
    align-items: center;
    &::-webkit-scrollbar {
      display: none;
    }

    .card1 {
      margin: 10px;
      cursor: pointer;
      .card1-body {
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
        .image-logo {
          display: grid;
          border-radius: 3px;
          width: 150px;
          height: 150px;
          justify-content: center;

          align-items: center;
          box-shadow: 35px 28px 100px #83838382 inset,
            -78px 28px 100px #83838382 inset;

          background-blend-mode: lighten;
          img {
            border-radius: 2px;
            width: 100px;
            height: 100px;
          }
        }
      }

      .card1-footer {
        font-size: 1rem;
        &:hover {
          text-decoration: underline;
        }
        .title {
          font-size: 1.5rem;
        }
      }
    }
  }

  .container-headline {
    display: flex;
    grid-template-columns: auto auto;

    .title {
      font-size: 2rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
    .sub-title {
      font-size: 1rem;
      align-content: baseline;
      cursor: pointer;
    }
  }
}

@font-face {
  font-family: myFirstFont;
  src: url(../../font3.otf);
}

* {
  font-family: myFirstFont;
}

html {
  font-size: 62.5%;
  color: white;
  background-color: black;
}
